body { background-color: #333300; -webkit-text-size-adjust: 100%}
canvas { outline: 10px #232301 solid; margin: 25px 50px; height: fit-content; width: fit-content; }
button { color: #000; padding: 5px 8px; border-radius: 4px; background-color: rgba(255,255,255,1);}
button:disabled {background-color: rgba(255,255,255,0.15)}
g text { fill: white; }
textarea { background-color: #000; color: greenyellow; font-family: 'Courier New', Courier, monospace;}
#hud { padding-top: 50px; margin: 25px 0px; }
#input-box{ width:50%; }
#game { display:flex; flex-direction: column; display: -webkit-flex; -webkit-flex-direction: column; }


@media screen and (min-width: 1200px) {
    #game { flex-direction: row; -webkit-flex-direction: row; }
    #hud { padding-top: 50px; margin: 0; }
  }