body { background-color: #333300;}
canvas { outline: 10px #232301 solid; margin: 25px 50px; max-height: 600px }
g text {color: white; }
textarea {background-color: #000; color: greenyellow; font-family: 'Courier New', Courier, monospace;}
#hud { padding-top: 50px; }
#input-box{width:50%;}
